*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: hsl(230, 100%, 99%);
    background-image: url('images/bg-pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
}
.app{
    width: 700px;
    margin: 70px auto 0px;
}
.header{
    height: 100px;
    text-align: center;
    background-image: url('images/pattern-circles.png');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 60% ;
}
.header h1{
    color: hsl(227, 35%, 25%);
}
.header p{
    color: hsl(225, 20%, 60%);
    margin-top: 10px;
}
.pricing{
    background-color: white;
    width: 90%;
    margin: 60px auto 0px;
}
.pricing-main{
    padding: 40px;
    position: relative;
}
.pricing-main div{
    display: flex;
}
.pricing-main div:first-child{
    justify-content: space-between;
    align-items: center;
}
.pricing-main div:first-child p{
    color: hsl(225, 20%, 60%);
    font-size: .9em;
}
.pricing-main div:first-child p:last-child span{
    color: hsl(227, 35%, 25%);
    font-size: 2.7em;
    font-weight: 800;
    vertical-align: middle;
}
.myRange{
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 100px;
    margin: 30px 0px;
    background:  hsl(224, 65%, 95%);
}
.myRange::-moz-range-thumb{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background:url('images/icon-slider.png'), hsl(174, 86%, 45%);
    background-size: 20px;
    background-position: 46%,0%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 4px 9px 20px hsl(174, 86%, 45%);
}
.myRange::-moz-range-thumb:active{
    background:url('images/icon-slider.png'), hsl(174, 77%, 60%);
    background-size: 20px;
    background-position: 46%,0%;
    background-repeat: no-repeat;
}
.pricing-main div:last-child{
    justify-content: end;
    align-items: center;
    margin-right: 30px;
    color: hsl(225, 20%, 60%);
    font-size: 13px;
}
.pricing-main div:last-child>*{
    margin-left: 10px;
}
.pricing-main div:last-child p:last-child{
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    padding: 3px 5px;
    border-radius: 10px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0px 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: hsl(223, 50%, 87%);
    transition: .4s;
    border-radius: 34px;
}
.switch input{display: none;}
.slider::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 15px;
    left: 5px;
    bottom: 4.6px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}
input:checked + .slider{
    background-color: hsl(174, 86%, 45%);
}
input:checked + .slider::before{
    transform: translateX(25px);
}

.pricing-footer{
    border-top: 1px solid hsla(225, 20%, 60%, 0.3);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing-footer ul li{
    list-style: none;
    color: hsl(225, 20%, 60%);
    font-size: 13px;
    line-height: 25px;
}
.pricing-footer ul li img{
    margin-right: 10px;
}
.pricing-footer button{
    height: 42px;
    width: 190px;
    border-radius: 20px;
    border: none;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    cursor: pointer;
}
.pricing-footer button:hover{
    color: hsl(226, 100%, 97%);
}

@media only screen and (max-width:660px){
    .app{
        width: 350px;
    }
    .pricing{
        width: 100%;
        margin: 20px auto 0px;
    }
    .header h1{
        font-size: 1.4em;
    }
    .header p{
        margin-top: 10px;
        font-size: .9em;
        padding: 0px 80px;
    }
    .pricing-main div:first-child{
        flex-direction: column;
    }
    .pricing-main div:first-child p:last-child{
        position: absolute;
        bottom: 95px;
    }
    .myRange{
        margin-bottom: 90px;
    }
    .pricing-main div:last-child{
        margin-right: 0px;
        font-size: 10px;
    }
    .pricing-main div:last-child>*{
        margin-left: 10px;
    }
    .pricing-main div:last-child p:last-child{
        padding: 3px 7px;
    }
    .switch{
        margin: 0px 0px;
        width: 45px;
        height: 24px;
    }
    .slider::before{
        height: 16px;
        width: 15px;
        left: 5px;
        bottom: 4px;
    }
    input:checked + .slider::before{
        transform: translateX(20px);
    }
    .pricing-footer{
        flex-direction: column;
        text-align: center;
    }
    .pricing-footer button{
        margin-top: 20px;
        width: 180px;
    }
}